@media screen and (min-width: 800px){
    form {
      color: #555;
      display: flex;
      width: 400px;
      padding: 2px;
      border: 1px solid currentColor;
      border-radius: 5px;
      background-color: rgb(255, 252, 252);
      margin-right: 250px;
    }
  }
  @media screen and (max-width: 800px) and (min-width: 600px){
    form {
      color: #555;
      display: flex;
      width: 300px;
      padding: 2px;
      border: 1px solid currentColor;
      border-radius: 5px;
      background-color: rgb(255, 252, 252);
      margin-right: 100px;
    }
  }
  @media screen and (max-width: 600px){
    form {
      color: #555;
      display: flex;
      width: 260px;
      padding: 2px;
      border: 1px solid currentColor;
      border-radius: 5px;
      background-color: rgb(255, 252, 252);
      margin-right: 30px;
    }
  }
    input[type="search"] {
      border: none;
      background: transparent;
      margin: 0;
      padding: 7px 8px;
      font-size: 14px;
      color: inherit;
      border: 1px solid transparent;
      border-radius: inherit;
      width: 100%;
    }
    
    input[type="search"]::placeholder {
      color: #bbb;
    }


  
    textarea:focus, input:focus{
      outline: none;
    }
  